DEBUG=True
SECRET_KEY=change-this-for-real-deployments
ALLOWED_HOSTS=127.0.0.1,localhost
# Leave DATABASE_URL empty for local SQLite.
# Render will provide a PostgreSQL DATABASE_URL automatically.
DATABASE_URL=
